streamlit==1.45.1
python-dotenv==1.1.0
groq==0.24.0

sentence-transformers==4.1.0
torch==2.6.0
transformers==4.51.3

chromadb==1.0.8
protobuf==3.20.3

networkx==3.4.2
matplotlib==3.10.3

numpy==2.2.5
scikit-learn==1.6.1
scipy==1.15.3

huggingface-hub==0.31.2
tokenizers==0.21.1
safetensors==0.5.3
